name: Review code

on:
    pull_request:
        branches: [ main ]

jobs:
    review:
      runs-on: ubuntu-latest
      permissions: write-all
      steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.1

      - name: Setup tflint
        env:
          GITHUB_TOKEN: ${{ github.token }}
        uses: terraform-linters/setup-tflint@v4
        with:
          tflint_version: v0.50.3
          tflint_wrapper: false
      
      - name: Complianc check(tflint)
        id: tflint
        run: tflint -f compact